<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />

    <title>World Visual Tech</title>
    <style>
      .active a{
        color: #FBA504;
      }



    </style>
   
  </head>
  <body>
    <!-- navbar & hero section start -->
    <header>
      <div class="container">
        <nav class="top-nav">
          <div class="logo">
            <a href="/" class="logo-img"
              ><img src="/static/img/logoo.png" alt="Your Agency Logo"
            /></a>
          </div>

          <ul class="nav-links">
            <li class="{% if request.path == '/' %}active{% endif %}"><a href="/">Home</a></li>
            <li class="{% if request.path == '/about/' %}active{% endif %}"><a href="/about">About</a></li>
            <li class="{% if request.path == '/services/' %}active{% endif %}"><a href="/services">Services</a></li>

            <li class="nav-dropdown" >
              <p class="agency">Agencies +</p>
              <ul class="dropdown-content">
                <li>
                  <a href="/digitalmarketing">Digital Marketing Agency</a>
                </li>
                <li><a href="/graphicdesign">Graphic Design Agency</a></li>
                <li><a href="/ITsolution">Tech Solutions Agency</a></li>
                <li>
                  <a href="/travelagency">Travel & Adventure Agency</a>
                </li>
              </ul>
            </li>
            <li class="{% if request.path == '/contact/' %}active{% endif %}"><a href="/contact">Contact</a></li>
          </ul>
          {% if user.is_authenticated %}
         <span style="margin-right:-210px;font-size:15px; font-style:italic;"> Welcome <b style="background-color:#6222CC; color:white; padding:5px; border-radius:5%;">{{request.user}}</b></span>
          <div class="login-btn">
            <a href="/logout">Logout</a>
        </div>
               
            </div> 
           {% else %} 
          <div class="login-btn" >
            <a href="/login">sign up</a>
          </div>
          {% endif %} 
        </nav>
      </div>
    </header>
  </body>
</html>
