{% include "header.html" %}
  <style>
    label {
      display: block;
      margin-bottom: 2px;
      margin-top: -19px;
      font-weight: bold;
    }

    select {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    button {
      background-color: #4caf50;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #45a049;
    }
  </style>
          <!-- Hero Section start -->
          <div class="section__container header__container">
            <h1> <mark>The new way to plan your next adventure</h1>
            
              <a href="#packages" class="cta-button" style="margin-left:550px"> Our Packages</a>
          </div>
          </div>
        </div>
      </header>

      
    <section class="travel-about" id="about">
        <div class="section__container about__container">
          <div class="about__content">
            <h2 class="section__header">About us</h2>
            <p class="section__subheader">
              Our mission is to ignite the spirit of discovery in every traveler's
              heart, offering meticulously crafted itineraries that blend
              adrenaline-pumping activities with awe-inspiring landscapes. With a
              team of seasoned globetrotters, we ensure that every expedition is
              infused with excitement, grace our planet. Embark on a voyage of a
              lifetime with us, as we redefine the art of exploration.
            </p>
            <div class="about__flex">
              <div class="about__card">
                <h4>70</h4>
                <p>Completed Trips</p>
              </div>
              <div class="about__card">
                <h4>15</h4>
                <p>Tour Guides</p>
              </div>
              <div class="about__card">
                <h4>50</h4>
                <p>Destinations</p>
              </div>
            </div>
            <button class="btnT" style="color:black" >
             <a href="#trips" class="btnT" style="color:black"><b>our Trips</b></a> <i class="ri-arrow-right-line"></i>
            </button>
          </div>
          
          <div class="about-img" style="margin-top: 20px;">
            <img class="aboutimg" src="/static/img/about-travel.jpg" alt="" />
          </div>
         
        </div>
      </section>

      <section class="engaging-places">
        <div class="section__container engaging-places__container">
          <div class="engaging-places__content">
            <h2 class="section__header">Discover the most engaging places</h2>
            <p class="section__subheader">
              Let's see the world with us with you and your family.
            </p>
          </div>
      
          <div class="engaging-places__boxes">
            <div class="box">
                <a href="/static/img/hunza.jpg" target="_blank"><img src="/static/img/hunza.jpg" alt="Place 3"></a>
              <h3>Beautiful Passu Cones</h3>
            </div>
            <div class="box">
                <a href="/static/img/kpk.jpg" target="_blank"><img src="/static/img/kpk.jpg" alt="Place 3"></a>
              <h3>Majestic Mountains</h3>
            </div>
            <div class="box">
                <a href="/static/img/gilgit.jpg" ><img src="/static/img/gilgit.jpg" alt="Place 3"></a>
              <h3>Historical Landmarks</h3>
            </div>
            <div class="box">
              <a href="/static/img/sawat2.jpg" target="_blank"><img src="/static/img/sawat2.jpg" alt="Place 3"></a>
              <h3>Historical Landmarks</h3>
            </div>
            
            <!-- Add more boxes as needed -->
          </div>
        </div>
      </section>


      
      <section class="our-trips-section" id="trips">
        <h2 class="section-title" style="text-align: center; color:orange; "><span style="color:orange">---- </span>Our Trips<span style="color:orange"> ---- </span></h2>
        <div class="trips-container">
          <div class="trip">
            <a href="/static/img/trip2.jpg" target="_blank"><img src="/static/img/trip2.jpg" alt="Trip 1"></a>
            <h3> SKARDU</h3>
            <p>"Skardu's serene lakes and majestic landscapes create unforgettable travel memories."</p>
          </div>
          <div class="trip">
            <a href="/static/img/trip1.jpg" target="_blank"><img src="/static/img/trip1.jpg" alt="Trip 2"></a>
            <h3> BABUSAR TOP</h3>
            <p> "Babusar Top unveils breathtaking mountain vistas, crafting exhilarating travel memories."</p>
          </div>
          <div class="trip">
            <a href="/static/img/trip3.jpg" target="_blank"><img src="/static/img/trip3.jpg" alt="Trip 2"></a>
            <h3>RATTI GALI LAKE</h3>
            <p>"Ratti Gali Lake, a hidden gem embraced by nature's tranquility."</p>
          </div>
          <div class="trip">
            <a href="/static/img/trip4.jpg" target="_blank"><img src="/static/img/trip4.jpg" alt="Trip 2"></a>
            <h3> GILGIT</h3>
            <p> "Gilgit's blend of ancient history and modern charm captivates travelers."</p>
          </div>
          <div class="trip">
            <a href="/static/img/trip5.jpg" target="_blank"><img src="/static/img/trip5.jpg" alt="Trip 2"></a>
            <h3> KASHMIR</h3>
            <p> "Kashmir's timeless allure captivates with snow-capped mountains and serene valleys."</p>
          </div>
          <div class="trip">
           <a href="/static/img/trip6.jpg" target="_blank"> <img  src="/static/img/trip6.jpg" alt="Trip 2"></a>
            <h3> HUNZA</h3>
            <p> "Hunza's heart reveals ancient forts and stunning vistas, a traveler's delight."</p>
          </div>
          <!-- Add more trips as needed -->
        </div>
      </section>
      

  <!-- testimonial section start -->

<section class="testimonial-section">
  <p class="head"><span></span>--- Testimonial ---<span></span></p>
  <h1>What does Our Client Say!</h1>

  <div class="testi-box">
    <div class="testimonial-box" id="testimonial1">
      <img src="/static/img/testimonial-1.jpg" alt="Client 1" />
      <h3> </h3>
      <p>
        "Travel made easy! This agency's expertise turned our trip into a stress-free adventure. Professionalism, reliability, and a touch of magic—everything we wanted and more!"<br />
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star-half"></i>
      </p>
    </div>

    <div class="testimonial-box" id="testimonial2">
      <img src="/static/img/testimonial-2.jpg" alt="Client 2" />
      <h3></h3>
      <p>
        "Outstanding service! This travel agency transformed our vacation dreams into reality. From booking to execution, their dedication to excellence shines through."<br />
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star-half"></i>
      </p>
    </div>
    <div class="testimonial-box" id="testimonial2">
      <img src="/static/img/testimonial-4.jpg" alt="Client 2" />
      <h3></h3>
      <p>
        "Flawless execution! From breathtaking destinations to smooth logistics, this travel agency ensures every detail is perfection. Highly recommended for wanderlust seekers"<br />
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star-half"></i>
      </p>
    </div>
    <div class="testimonial-box" id="testimonial2">
      <img src="/static/img/testimonial-3.jpg" alt="Client 2" />
      <h3></h3>
      <p>
        "Exceptional travel experiences! Our journey was seamlessly curated by this agency—impeccable planning, personalized attention, and unforgettable adventures."<br />
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star-half"></i>
      </p>
    </div>

    <!-- Add more testimonials as needed -->
  </div>
</section>

<!-- testimonial section end -->


      <section class="travel-packages-section" id="packages">
        <div class="section__container travel-packages__container">
          <h2 class="section__header"style="text-align:center">Travel Packages</h2>
          {% if user.is_authenticated %}

          
          <div class="travel-package">
            <img src="/static/img/kashmir.jpg" alt="Package 1" class="travel-package__image"  style="margin-top:30px"/>
            <div class="travel-package__details">
              <h3>Enchanting Kashmir Escape</h3>
              <ul class="travel-package__highlights">
                <li>3 Day Tour </li>
                <li>Departure: Every Friday night at 9:00 PM</li>
                
              </ul>
              <p class="travel-package__description">
                Immerse yourself in the breathtaking beauty of Kashmir. Explore Arangkel, visit the Shardha and Upper Neelum. This package includes comfortable accommodation, guided tours, and a taste of local cuisine.
              </p>
              
              <p class="travel-package__price">Starting from 15000 per person</p>
             
              <a href="#contact" class="btn">Book Now</a>
            </div>
          </div>
      
          <div class="travel-package">
            <img src="/static/img/hunza.jpg" alt="Package 2" class="travel-package__image"  style="margin-top:30px"/>
            <div class="travel-package__details">
              <h3>Discover Hunza's Majestic Peaks</h3>
              <ul class="travel-package__highlights">
                <li>5 Day Tour </li>
                <li>Departure: Every Friday night at 9:00 PM</li>
                
              </ul>
              <p class="travel-package__description">
                Embark on an adventure to Hunza Valley, surrounded by towering peaks and picturesque landscapes. Visit the ancient Baltit Fort, explore Karimabad, and witness the stunning Attabad Lake. This package offers an unforgettable experience with cozy accommodations and local cultural encounters.
              </p>
              
              <p class="travel-package__price">Starting from 35000 per person</p>
             
              <a href="#contact" class="btn">Book Now</a>
            </div>
          </div>
          <div class="travel-package">
            <img src="/static/img/sawat.jpg" alt="Package 2" class="travel-package__image"  style="margin-top:30px"/>
            <div class="travel-package__details">
              <h3>Swat Valley Serenity</h3>
              <ul class="travel-package__highlights">
                <li>3 Day Tour </li>
                <li>Departure: Every Friday night at 9:00 PM</li>
                
              </ul>
              <p class="travel-package__description">
                Experience the tranquility of Swat Valley, known for its lush greenery and pristine landscapes. Discover the Buddhist archaeological sites, take a refreshing dip in Malam Jabba's crystal-clear waters, and explore the mesmerizing Udegram. This package includes comfortable stays, guided tours, and a taste of Swati hospitality.
              </p>
              
              <p class="travel-package__price">Starting from 15000 per person</p>
             
              <a href="#contact" class="btn">Book Now</a>
            </div>
          </div>
          {% else %} 
          <span style="margin-left:500px"><b>Ready for an adventure? <br>
            Sign in today to access a world of curated travel packages designed to turn your dreams into unforgettable memories. Your next getaway starts here!</b></span><br><br>
          <a href="/login" class="btnT" style="margin-left:550px; color:black; "><b>Signup</b></a>
          {% endif %} 
          <!-- Add more travel packages as needed -->
      
        </div>
      </section>


      <section class="booking-section" id="contact">
        <div class="booking-container">
          <h2 style="text-align: center;">Book Your Trip</h2>
          <p style="text-align: center;">Fill out the form below to reserve your spot.</p>
      
          <form
          id="contact-form"
          action="https://api.web3forms.com/submit"
          method="POST"
        >
          <input
            type="hidden"
            name="access_key"
            value="3fb76b33-88de-42c3-a79b-298130902485"
          />
          <input type="text" id="name" name="name" required placeholder="Your Name" />
      
          <input
            type="text"
            id="email"
            name="email"
            required
            placeholder="Your Email"
          />
      
            
            <input placeholder="phone number" type="tel" id="phone" name="phone" >
      
            <!-- <label for="tripDate">Trip Date:</label> -->
            {% comment %} <input placeholder="date" type="date" id="tripDate" name="tripDate" required> {% endcomment %}
      
         
            <input placeholder="Number of People" type="number" id="numberOfPeople" name="numberOfPeople" min="1" required>
            {% if user.is_authenticated %}
            <select id="travel-package" name="travel_package" required>
              <option value="" disabled selected >Select a Travel Package</option>
              <option value="kashmir">Kashmir Travel Package</option>
              <option value="hunza">Hunza Valley Travel Package</option>
              <option value="swat">Swat Valley Travel Package</option>
            </select>
            {% endif %} 
            <textarea placeholder="Special Requests" id="specialRequests" name="specialRequests" rows="4"></textarea>
      
            <input class="btnT" type="submit" value="Submit Booking">
          </form>
        </div>
      </section>
      


      
    <!-- team section start -->

    <section class="team-section">
      <p class="head"><span></span>--- Our Team ---<span></span></p>
      <h1 class="text-center mb-5">Meet Our Team</h1>
    
      <div class="team-members">
        <!-- First Column -->
        {% for i in ourteamData %}
        <div class="team-member">
          <img class="team-pic" src="{{i.per_icon}}" alt="Team Member 1" />
          <h3>{{i.per_name}}</h3>
          <p>{{i.per_designation}}</p>
          <hr />
    
         
      <a
      href="https://www.facebook.com/world.visual.tech?mibextid=ZbWKwL "
      target="_blank"
      ><i class="fa-brands fa-facebook"></i
    ></a>
    <a
      href="https://www.instagram.com/wordvisualtech?igsh=MWd2czhzMXlpYWNiMA== "
      target="_blank"
      ><i class="fa-brands fa-square-instagram"></i
    ></a>
    <a
      href="https://www.linkedin.com/in/world-visual-tech-8557a62b1?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
      target="_blank"
      ><i class="fa-brands fa-linkedin"></i
    ></a>
    <a
      href="https://x.com/worldvisualtech?s=21&t=u47dtI7x9tDvPMKMTmA3Zw"
      target="_blank"
      ><i class="fa-brands fa-twitter"></i
    ></a>
        </div>
        {% endfor %}
      </div>
    </section>
  
      <!-- team section end -->
  
      
      
      {% include "footer.html" %}